<div class="row">
  <div class="col-md-12">
    <div class="chat-window">
      <div *ngFor="let message of messages$ | async">
        <div class="message">
          <span class="username">{{ message.username }}</span>
          <span class="timestamp">{{ message.timestamp }}</span>
          <p>{{ message.message }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Type your message here..."
        [(ngModel)]="messageText"
        (keydown.enter)="sendMessage()"
      />
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" (click)="sendMessage()">
          Send
        </button>
      </div>
    </div>
  </div>
</div>
